body{
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: white;

  background-color: #849d8f;
  background-image: url("../img/waffleCone_1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;

  font: inherit;

  text-align: center;
  vertical-align: middle;

  background-color: #000000;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav a{
  font-size: 16px;
  color: white;
}

.main-nav a{
  outline: none;
}

.main-nav a:hover,
.main-nav a:focus {
  padding: 9px 14px;

  border-radius: 20px;

  color: #333333;
  font-weight: bold;

  background-color: rgb(247, 246, 243);
}
.main-nav a:focus {
  box-shadow: inset 0 0 0 1px black;
}

.main-nav ul, .header-control-ul{
  list-style: none;
}

.main-nav-button{
  height: 35px;

  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.button-search{
  width: 35px;

  background-image: url("../img/magnifier.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-search:hover,
.button-search:focus{
  background-image: url("../img/magnifierHover.svg");
  color: #000000;
}

.button-entrance{
  padding-left: 45px;
  padding-right: 16px;

  background-image: url("../img/entrance.svg");
  background-position: 16px center;
  background-repeat: no-repeat;
}

.button-entrance:hover,
.button-entrance:focus{
  background-image: url("../img/entranceHover.svg");
}

.button-cart{
  padding-left: 45px;
  padding-right: 16px;

  background-position: 16px center;
  background-repeat: no-repeat;
}

.empty{
  background-image: url("../img/cartEmpty.svg");
}

.full{
  background-image: url("../img/cartFull.svg");

  background-color: rgb(248, 247, 244);
  color: #000000;
}

.main-nav-button:focus{
  outline: none;
  box-shadow: inset 0 0 0 1px black;
}

.main-nav-button:not(.button-cart):hover,
.main-nav-button:not(.button-cart):focus {
  background-color: rgb(248, 247, 244);
  color: #000000;
}

.time-opened{
  font-size: 14px;
  font-weight: bold;
}

.phone{
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.special-offer-text{
  font-size: 42px;
  font-weight: bold;
}
